
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  /* Desktop & tablet */
@media screen and (min-width: 768px){
  .col1{
    width: 27%;
    height: 300px;
    float: left;
    margin-left: 5%;
    margin-right: 3%;
  }
  img{
    width: 220px;
    height: 290px;
    padding: 5px;
  }
  .col2{
    float: right;
    height: 290px;
    margin-right: 5%;
    width: 60%;
    text-align: left;
  }

}
/* phone */
@media screen and (max-width: 767px){
  img{
    width: 220px;
    height: 290px;
    padding: 5px;
  }

}
