<section class="show-info">
<div *ngIf="show else elseBlock">
  <div class="col1">
    <img [src]="show.image" alt="Show image">
  </div>
  <div class="col2">
    <h1> {{show.name}} | {{show.rating}} average rating</h1>
    <h3>{{show.network}} </h3>
    <h3>{{show.time}}   {{show.days}}</h3>
    <h3>{{show.genres}}</h3>
    <h3>{{show.language}}</h3>
    <h4>Show Status: {{show.status}}</h4>
    <div class="mat-body-1">Summary: {{show.summary}}</div>
  </div>
</div>
<ng-template #elseBlock>
  <div><h3>Watch your fav show today!</h3></div>
</ng-template>
</section>
